<%#content for method passes about title to application layout%>
<% content_for :title do %>About<% end %>
<h3> Tutorial from the book I'm reading.</h3>
<p>.... Book kind sucks, but clearly I'm making progress.  Way to much cut and paste, and not much explanation.</p>