<%#content for method passes about title to application layout%>
<% content_for :title do %>About<% end %>
<h3> What I think of your book?  Well, while you asked...</h3>
<p>.... Daniel, your book is poorly written, and lacks exercise content.  Way to much 'open this file and look at x' but not actually writing any godam code.  Not sure if I'm learning or being spoken at via a book.</p>